@media (min-width: 769px){
    .places-container{
        top: 10px;
    }
    
}

@media screen and (max-width: 768px) {
    .places-container{
        bottom: 10px;
        
    }
}

.daily-temp-icon{
    width: 100%;
    height: 100%;
    color: rgb(38, 39, 39);
}

.places-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 300px;
    background-color: white;
}

.places-container-list{
    background-color: white;
    list-style: none;
}

.map-container {
    width: 100%;
    height: 100vh;
}

.combobox-input{
    width: 100%;
    padding: 0.5rem;
}

.daily-temp{
    position: absolute;
    top: 50px;
    z-index: 10;
    width: 300px;
}



